@import 'variables';
@import 'libs/normalize';
@import 'components/all';

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media (max-width: 425px) {
    width: calc(100vw - 40px);
    margin: 25px auto;
  }

  @media (max-width: 355px) {
    width: calc(100vw - 8px);
  }
}

.content {
  padding: 40px 0;

  &__title {
    margin: 40px 0;
    font-weight: 800;
    font-size: 40px;
  }

  &__items {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-items: center;
    column-gap: 20px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 920px) {
      flex-direction: column;
      gap: 12px;
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    margin: 90px auto;
    .content__title {
      margin: 0;
    }
  }
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  &__item {
    display: flex;
    width: 100%;
    border-top: 1px solid $gray-line;
    padding-top: 30px;
    margin-top: 30px;

    &-img {
      display: flex;
      align-items: center;
      margin-right: 15px;
      width: 24%;

      @media (max-width: 900px) {
        width: auto;
      }

      @media (max-width: 650px) {
        display: none;
      }

      img {
        width: 80px;
        height: 80px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      @media (max-width: 900px) {
        width: auto;
        flex: 1;
        padding-right: 6px;
      }

      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;

        @media (max-width: 700px) {
          font-size: 18px;
        }
      }

      p {
        font-size: 18px;
        color: #8d8d8d;

        @media (max-width: 700px) {
          font-size: 16px;
        }
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 24%;

      @media (max-width: 900px) {
        width: auto;
        gap: 12px;
      }

      &-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }

        &:disabled {
          border-color: #dddddd;
          background-color: transparent;
          cursor: not-allowed;
          opacity: 0.5;

          svg {
            path {
              fill: #dddddd;
            }
          }

          &:hover {
            background-color: transparent;
          }

          &:active {
            transform: none;
          }
        }
      }

      b {
        font-size: 22px;

        @media (max-width: 700px) {
          font-size: 18px;
        }
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;

      @media (max-width: 900px) {
        width: 18%;
      }

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;

        @media (max-width: 700px) {
          font-size: 18px;
        }
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 4%;

      @media (max-width: 900px) {
        width: auto;
      }

      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }
        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0 10px;

    &-details {
      display: flex;
      justify-content: space-between;

      @media (max-width: 480px) {
        flex-direction: column;
        gap: 12px;
      }

      span {
        font-size: 22px;

        @media (max-width: 580px) {
          font-size: 19px;
        }

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      @media (max-width: 480px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 18px;
      }

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        border-color: darken($color: $gray-line, $amount: 10);

        @media (max-width: 580px) {
          width: 160px;
          padding: 10px 15px;
        }

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;
        align-content: center;

        @media (max-width: 580px) {
          width: 160px;
          padding: 10px 15px;
        }
      }
    }
  }

  &--empty {
    margin: 0 auto;
    width: 560px;
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;

      @media (max-width: 510px) {
        font-size: 16px;
      }

      @media (max-width: 462px) {
        font-size: 12px;
      }
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;

      @media (max-width: 380px) {
        width: 250px;
      }
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }

    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}
